{% extends 'notes/admin_nav.html' %}

{% load static %}

{% block body %}

<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.23/js/dataTables.bootstrap4.min.js"></script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css">
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.23/css/dataTables.bootstrap4.min.css">

<script>
    $(document).ready(function() {
    $('#example').DataTable();
} );
</script>

<h1 class="text-center">Assign Status</h1>
<div class="container mt-5">
    <form  method="post">
        {% csrf_token %}
        <label >Notes Id</label>
        <input type="text" name="notesid" class="form-control" value="{{notes.id}}" readonly>

        <label>Status</label>
        <select name="status" class="form-control">
            <option value="Accept">Accept</option>
            <option value="Reject">Reject</option>
        </select>
        <br>
        <input type="submit" value="submit" class="btn btn-success">
    </form>
   

</div>

{% endblock %}