{% extends 'notes/usernav.html' %}

{% load static %}

{% block body %}


    <!-- {% ifequal error "no" %}
    <script>
      alert('Password Changed Successfully');
      window.location= ("{% url 'logout' %}");
    </script>
    {% endifequal %}

    {% ifequal error "yes" %}
    <script>
      alert('srry bhaii ');
     
    </script>
    {% endifequal %} -->


<h1>Password changed</h1>
<div class="container">
<div class="modal-body">
    <form  method="POST"> {% csrf_token %}
<div class="form-group">
<label for="username">Old Password</label>
<input type="password" class="form-control" id="loginadminname" name="old" placeholder="Enter your old password "required>
</div>
<div class="form-group">
<label for="pass">New password </label>
<input type="password" class="form-control" id="loginadminpassword" name="new" placeholder="Enter your new password "required>
</div>
<div class="form-group">
<label for="pass">Confirm password </label>
<input type="password" class="form-control" id="loginadminpassword" name="confirm" placeholder="Confirm new password "required>
</div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>
  </div>
</div>

{% endblock %}