{% extends 'notes/usernav.html' %}

{% load static %}

{% block body %}


<h1 class="text-center">All Notes</h1>
<div class="container">
    <div class=" mt-5">
      <div class="col-sm">
        <!-- One of three columns -->
        <a href="{% url 'assignment_ece_1' %}" ><h4 class="mt-5 btn btn-info btn-lg btn-block">Assignments</h4></a>
        <!-- <h2 class="text-primary">{{pn}}</h2> -->
      </div>
      <div class="col-sm">
        <!-- One of three columns -->
        <a href="{% url 'book_ece_1' %}" ><h4 class="mt-5 btn btn-info btn-lg btn-block">Books</h4></a>
        <!-- <h2 class="text-primary">{{an}}</h2> -->
      </div>
      <div class="col-sm">
        <!-- One of three columns -->
        <a href="{% url 'cl_ece_1' %}" ><h4 class="mt-5 btn btn-info btn-lg btn-block">Class Notes</h4></a>
        <!-- <h2 class="text-primary">{{an}}</h2> -->
      </div>
      <div class="col-sm">
        <!-- One of three columns -->
        <a href="{% url 'qp_ece_1' %}" ><h4 class="mt-5 btn btn-info btn-lg btn-block">Question Papers</h4></a>
        <!-- <h2 class="text-primary">{{an}}</h2> -->
      </div>
      <div class="col-sm">
        <!-- One of three columns -->
        <a href="{% url 'others_ece_1' %}" ><h4 class="mt-5 btn btn-info btn-lg btn-block">Others</h4></a>
        <!-- <h2 class="text-primary">{{an}}</h2> -->
      </div>
    </div>
  </div>


{% endblock %}