{% extends 'notes/usernav.html' %}

{% load static %}

{% block body %}


<h1 class="text-center">Edit Profile Here</h1>
<div class="container ">
<div class="row ">
    <div class="col-sm-12">
    <form method="POST">
        {% csrf_token %}
        <div class="form-row">
            <div class="form-group col-md-6">
                <label >FirstName</label>
                <input type="text" class="form-control" value="{{data.user.first_name}}" name="firstname">
            </div>
            <div class="form-group col-md-6">
                <label >LastName</label>
                <input type="text" class="form-control" value="{{data.user.last_name}}" name="lastname">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-12">
                <label >Email Id</label>
                <input type="text" class="form-control" value="{{data.user.email}}" name="emailid" readonly>
            </div>
            
        </div>
        <div class="form-row">
            <div class="form-group col-md-12">
                <label >Branch</label>
                <select class="form-control"  name="branch" >
                    <option value="{{data.branch}}">{{data.branch}}</option>
                    <option value="Computer Science">Computer Science</option>
                    
            <option value="Electronics And Communication">Electronics And Communication</option>
                </select>
            </div>
            
        </div>
        <input type="submit" value="update" class="btn btn-primary mt-3">
    </form>
    
</div>

</div>

</div>

{% endblock %}