{% extends 'notes/usernav.html' %}

{% load static %}

{% block body %}
<h1 class="text-center mt-3">This is Profile</h1>
<div class="container mt-5" style="border: 1cm;">

<table class="table table-striped table-dark">
  <thead>
    <tr>
      
      <th scope="col">Full Name</th>
      
      <th scope="col" >{{data.user.first_name}} {{data.user.last_name}}</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <!-- <th scope="row">1</th> -->
      <td>Email Id</td>
      
      <td>{{data.user.email}}</td>
    </tr>
    <tr>
      <!-- <th scope="row">2</th> -->
      <td>Role</td>
      
      <td>{{data.role}}</td>
    </tr>
    <tr>
      <!-- <th scope="row">3</th> -->
      <td>Branch</td>
      
      <td>{{data.branch}}</td>
    </tr>
  </tbody>
</table>
<a href="{% url 'edit_profile' %}" class="btn btn-primary mt-1 align-middle">Edit Profile</a>
</div>
  


{% endblock %}