{% extends 'notes/usernav.html' %}

{% load static %}

{% block body %}


<h1 class="text-center">All Notes</h1>
<div class="container">
    <div class=" mt-5">
      <div class="col-sm">
        <!-- One of three columns -->
        <a href="{% url 'cse3' %}" ><h4 class="mt-5 btn btn-info btn-lg btn-block">Computer Science</h4></a>
        <!-- <h2 class="text-primary">{{pn}}</h2> -->
      </div>
      <div class="col-sm">
        <!-- One of three columns -->
        <a href="{% url 'ece3' %}" ><h4 class="mt-5 btn btn-info btn-lg btn-block">Electronics and Communication</h4></a>
        <!-- <h2 class="text-primary">{{an}}</h2> -->
      </div>
    </div>
  </div>


{% endblock %}