{% extends 'notes/admin_nav.html' %}

{% load static %}

{% block body %}

<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.23/js/dataTables.bootstrap4.min.js"></script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css">
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.23/css/dataTables.bootstrap4.min.css">

<script>
    $(document).ready(function() {
    $('#example').DataTable();
} );
</script>

<h1 class="text-center">Users </h1>
<div class="container mt-5">
    <table class="table" id="example">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Full Name</th>
            <th scope="col">Email Id</th>
            <th scope="col">Branch</th>
            <!-- <th scope="col">Year</th> -->
            <th scope="col">Role</th>
            <th scope="col">Action</th>
          </tr>
        </thead>

        {% for i in users %}
        <tbody>
          <tr>
            <th scope="row">{{forloop.counter }}</th>
            <td style="text-transform: capitalize;">{{i.user.first_name}} {{i.user.last_name}}</td>
            <td>{{i.user.email}}</td>
            <td>{{i.branch}}</td>
            <!-- <td>{{i.year}}</td> -->
            <td>{{i.role}}</td>
            <!-- <td>{{i.status}}</td> -->
            <td><a href="{% url 'delete_users' i.user.id %}" class="btn btn-danger" onclick="return confirm('Are You Sure')">Delete</a></td>
            
          </tr>
         
        </tbody>
        {% endfor %}
      </table>
      

</div>

{% endblock %}