{% extends 'notes/usernav.html' %}

{% load static %}

{% block body %}

<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.23/js/dataTables.bootstrap4.min.js"></script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css">
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.23/css/dataTables.bootstrap4.min.css">

<script>
    $(document).ready(function() {
    $('#example').DataTable();
} );
</script>

<h1 class="text-center">View All Notes</h1>
<div class="container mt-5">
    <table class="table" id="example" style="min-width: fit-content;">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Uploading Date</th>
            <th scope="col">Uploaded By</th>
            <th scope="col">Branch</th>
            <th scope="col">Subject</th>
            <th scope="col">Download notes</th>
            <th scope="col">Description</th>
            <th scope="col">Status</th>
            <th scope="col">Action</th>
          </tr>
        </thead>

        {% for i in notes %}
        <tbody>
          <tr>
            <th scope="row">{{forloop.counter }}</th>
            <td>{{i.uploadingdate}}</td>
            <td>{{i.user.username}}</td>
            <td>{{i.branch}}</td>
            <td>{{i.subject}}</td>
            <td><a href="{{i.notesfile.url}}" download>Download</a></td>
            <td>{{i.description}}</td>
            <td>{{i.status}}</td>
            <!-- <td><a href="{% url 'assign_status' i.id %}" class="btn btn-success" >Assign Status</a></td> -->
            <td><a href="{% url 'delete_notes' i.id %}" class="btn btn-danger" onclick="return confirm('Are You Sure')">Delete</a></td>
            
          </tr>
         
        </tbody>
        {% endfor %}
      </table>
      

</div>

{% endblock %}