{% extends 'notes/usernav.html' %}

{% load static %}

{% block body %}


<h1 class="text-center">All Notes</h1>
<div class="container">
    <div class=" mt-5">
      <div class="col-sm">
        <!-- One of three columns -->
        <a href="{% url 'first_year' %}" ><h4 class=" btn btn-info btn-lg btn-block">First Year</h4></a>
        <!-- <h2 class="text-primary">{{pn}}</h2> -->
      </div>
      <div class="col-sm">
        <!-- One of three columns -->
        <a href="{% url 'second_year' %}" ><h4 class=" btn btn-info btn-lg btn-block">Second Year</h4></a>
        <!-- <h2 class="text-primary">{{an}}</h2> -->
      </div>
      <div class="col-sm">
        <!-- One of three columns -->
        <a href="{% url 'third_year' %}" ><h4 class=" btn btn-info btn-lg btn-block">Third Year</h4></a>
        <!-- <h2 class="text-primary">{{rn}}</h2> -->
      </div>
      <div class="col-sm">
        <!-- One of three columns -->
        <a href="{% url 'forth_year' %}" ><h4 class=" btn btn-info btn-lg btn-block">Fourth Year</h4></a>
        <!-- <h2 class="text-primary">{{alln}}</h2> -->
      </div>
      <div class="col-sm">
        <!-- One of three columns -->
        <a href="{% url 'other' %}" ><h4 class=" btn btn-info btn-lg btn-block">Other</h4></a>
        <!-- <h2 class="text-primary">{{alln}}</h2> -->
      </div>
    </div>
  </div>


{% endblock %}